header{
  background-color: #000;
}

section{
  border-bottom: 1px solid #d1d1d1;
}
.header{
  width: 1080px;
  height: 120px;
  margin: auto;
  background-color: #fb9bbc;
}

.header > span{
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
  font-size: 40px;
  line-height: 120px;
}

.section{
  width: 1080px;
  margin: auto;
  background-color: #ffc10752;
  padding: 40px 0px 10px 0px;
}

.first_ul{
  margin-top: 0;
  list-style-type: none;
  padding: 0px 33px;
}

.first_ul li{
  display: inline-block;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  font-size: 16px;
  color : #000;
  margin: 0px 7px;
  padding: 0px;
  width: 322px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}

.first_ul li:hover{
  border-color: #454545;
  font-weight: bold;
}

.component{
  margin: 30px 40px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #454545;
  padding-bottom: 20px;
}

table{
  margin: 30px 40px;
  width: 1000px;
  border-collapse: collapse;
}

thead{
  background-color: #f7f7f7;
  display: block;
  border: 1px solid #d1d1d1;
  height: 46px;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding-left: 15px;
  line-height: 46px;
}
tbody{
  background-color: #fff;
  display: block;
  border: 1px solid #d1d1d1;
  font-size: 12px;
  padding: 30px;
  color: #000;
}

footer > p:nth-child(1){
  font-size: 12px;
  color: #999;
  text-align: center;
}

footer > p:nth-child(2){
  font-size: 12px;
  color: #000;
  text-align: center;
}
