
header{
  background-color : white;
  margin : 20px;
  padding: 20px;
}

section{
  background-color: white;
  margin : 20px;
  padding: 20px;
  height: 600px;
}

footer{
  background-color: white;
  margin : 20px;
  padding: 20px;
  text-align: center;
}

body{
  background-color: lightgreen;
}

a{
  color:purple;
  text-decoration: none;
}
#ul_top_menu{
  list-style: none;
  text-align: right;
  margin: 10px;
}

#ul_top_menu li{
  text-align: center;
  display: inline;
  padding: 15px;
  margin: 15px;
  background-color: lightblue;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

#ul_section_menu{

}

#ul_section_menu li{
  list-style: none;
  margin-left: 100px;
}
