@charset "UTF-8";

body{
  background-color: lightgreen;
}

header{
  background-color: white;
  margin: 20px;
  padding: 20px;
}

section{
  background-color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
  height: 600px;
}

footer{
  background-color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

section > div{
  margin: 5px;
  padding: 10px;
  height: 40%;
}

section > div > p{
  text-align: left;
  margin-left: 200px;
}

#ul_top_menu{
  list-style: none;
  text-align: right;
  margin: 10px;
}

#ul_top_menu li{
  text-align: center;
  display: inline;
  padding: 15px;
  margin: 15px;
  background-color: lightblue;
  color: purple;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

#ul_top_menu a{
  text-decoration: none;
  color: purple;
}
#photo1 , #photo2{
  border: 10px solid grey;
}

.photo1{
  padding-top: 20px;
}
.photo2{
  padding-top: 20px;
  border-top: 1px solid grey;
}
