.on {display:block;}
.off{display:none;}
.right{float:right;}
.left{float:left;}
.red{color:red;}

    
.req:before {
  content: '*';
  color: red;
  font-size: 16px;
}


.loginContents {
	position:relative;
	left:50%;
	transform:translate(-50%);
	text-align:center;
	width:450px;
	height:300px;
	border:2px solid;
}
.loginContents a{
	all:unset;
	color:gray;
	cursor:pointer;
}
.loginContents button{
	all:unset;
	width:430px;
	height:40px;
	border:1px solid;
	background-color:#7aa5d2; 
	color:white;
	font-size:18px;
}
.loginContents .inputBox{
	position:relative;
	right:10%;
	margin:10px;
	text-align:right;
}
.loginContents .inputBox > input {
	width:300px;
	height:30px;
}
.joinContents {
	position:relative;
	left:50%;
	transform:translate(-50%);
	text-align:center;
}
.joinContents button{
	all:"unset";
	width:470px;
	height:40px;
	margin-top:10px;
	border:1px solid;
	background-color:#7aa5d2; 
	color:white;
	font-size:18px;
}
.joinContents .inputBox{
	position:relative;
	right:34%;
	margin:6px;
	text-align:right;
}
.joinContents .inputBox > input {
	width:370px;
	height:30px;
	border:solid 1px;	/* input 諛뺤뒪 �뀒�몢由� �쑀吏��븯湲� */
}
.joinContents .loginSrch{
	color:gray;
}
.joinContents .warning{
	display:block;
	color:red;
}

.myInfoContents{
  margin-left: 190px;
  width:1048px;
  height:200px;
  padding:30px;
}

.myInfoContents h1{
  text-align:center;
}
.myInfoContents table{
  margin: 5px 0px 0px 90px;  
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  font-size: 18px;
}
.myInfoContents th{
  width:200px;
  height: 50px;
  color: white;
  background-color: #7aa5d2;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
}
.myInfoContents td{
  max-width:300px;
  height:50px;
  border-collapse:collapse;
  border:solid 0.1px #d7d7d7;
  padding-left:10px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.myInfoContents a{
  all:unset;
  width:130px;
  height:30px;
  background-color:#7aa5d2;
  color:white;
  position:relative;
  margin:20px 5px 20px 5px;
  padding-top:7px;
  float:right;
  text-align:center;
  cursor: pointer;
}

.myInfoModifyContents{
	margin-left: 370px;
	width:700px;
    padding: 30px;
    text-align: center;
}

.myInfoModifyContents h1{
  text-align:center;
}

.myInfoModifyContents table{
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  margin: 5px 0px 0px 90px;  
  font-size: 18px;
}
.myInfoModifyContents th{
  width:200px;
  height: 50px;
  color: white;
  background-color: #7aa5d2;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
}
.myInfoModifyContents td{
  max-width : 300px;
  height: 50px;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  padding-left : 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.myInfoModifyContents button{
  all:unset;
  width:130px;
  height: 30px;
  background-color: #7aa5d2;
  color:white;
  margin: 20px 5px 20px 5px;
  padding :4px;
  cursor: pointer;
}
.myInfoModifyContents input{
  margin : 5px;
  width:260px;
  height:30px;
  font-size:18px;
}

.searchContents{
	margin-left: 80px;
	width:700px;
    padding: 30px;
    text-align: center;
}

.searchContents h1{
  text-align:center;
}

.searchContents table{
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  margin: 5px 0px 0px 90px;  
  font-size: 18px;
}
.searchContents th{
  width:200px;
  height: 50px;
  color: white;
  background-color: #7aa5d2;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
}
.myInfoModifyContents td{
  max-width : 300px;
  height: 50px;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  padding-left : 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.searchContents button{
  all:unset;
  width:130px;
  height: 30px;
  background-color: #7aa5d2;
  color:white;
  margin: 20px 5px 20px 5px;
  padding :4px;
  cursor: pointer;
}
.searchContents input{
  margin : 5px;
  width:260px;
  height:30px;
  font-size:18px;
}
#certificationContents{
	display:none;	
}

#idSearchMsg{
  display:none;
  position: relative;
  left:50%;
  transform:translate(-50%);
  width:750px;
  height:50px;
  font-size:32px;
}
#pwdSearchMsg{
  display:none;
  position: relative;
  left:50%;
  transform:translate(-50%);
  font-size:32px;
}
.modal{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:600px;
  height: 200px;
  background-color: white;
  font-size:25px;
  text-align:center;
}
.modal button{
  all:unset;
  width:130px;
  height: 40px;
  margin:5px;
  margin-top:20px;
  background-color: cornflowerblue;
  color:white;
}
.modalHead{
    padding-left:10px;
    text-align: left;
    line-height: 50px;
    width:590px;
    height: 50px;
    background-color: cornflowerblue;
    color:white;
}
.modalBody{
    width:600px;
    height: 150px;
    background-color: white;
}
.modalWrap{
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width:100%;
     height: 100%;
     overflow: auto;
}

.adminHeader{
	line-height: 33px;
    height:50px;
    padding:10px 0px 0px 10px;
    text-align:left;
    background-color: #034f84;
    color:white;
}

.adminLoginContents section{
	position:relative;
	left:50%;
	transform:translate(-50%,70%);
	text-align:center;
	width:450px;
	height:250px;
	border:2px solid;
}

.adminHeader a{
	all:unset;
	color:gray;
	cursor:pointer;
}

.adminHeader div{
	position:relative;
    margin:0 auto;
    padding-top:5px;
    padding-right:20px;
}
.adminLoginContents button{
	all:unset;
	width:400px;
	height:40px;
	border:1px solid;
	background-color:#034f84; 
	color:white;
	font-size:18px;
}
.adminLoginContents .inputBox{
	position:relative;
	right:10%;
	margin:10px;
	text-align:right;
}
.adminLoginContents .inputBox > input {
	width:300px;
	height:30px;
}

aside{
    width:220px;
    height:100%;
    background-color: #132a3d;
    color:white;
    float:left;
}
#lnbNav, #lnbNav ul{
    list-style : none;
    padding:0;
    margin:0;
}
aside > ul > li , .menu > ul > li{
    margin:20px 0px;
}
    
.menu div{
    font-size:24px;
    padding-left: 20px;
    cursor: pointer;
}

.menu li > a{
	all:unset;
    width:200px;
    font-size:18px;
    padding-left:20px;
    cursor: pointer;
    color:gray;
}

#lnbTitle{
    font-size:28px;
    text-align:center;
    padding-top:20px;
    margin-bottom:20px;
}
.menu > ul > li{
    padding-left:20px;
}

/* 硫붿씤硫붾돱 hover �씤�떇 */
.menu:hover > div{
    background-color: gray;
    color:black;
}

.menu > ul {
    display: none;
}

/* �꽌釉뚮찓�돱 hover �씤�떇 */
.menu > ul > li:hover > a{
    color:white;
}

/* 荑좏룿 �궗�슜�뿬遺��뿉 �뵲瑜� �뀒�씠釉� 蹂�寃쎌슜 */
.couponUseViewBtn{
  all:unset;
  position: relative;
  left:35%;
  transform:translate(-50%);
  width:400px;
  height:50px;
  background-color:#7aa5d2;
  color:white;
  text-align:center;
  cursor: pointer;
  margin: 0px -3px 20px -3px; 
}

.userTable {
    text-align: center;
    border-collapse: collapse;
} 

/* �뀒�씠釉� �깋�긽 援щ텇 - col濡� 臾띠쑝�젮�뻽�뜑�땲 font 而щ윭媛� �쟻�슜�씠 �븞�릪
.userTable th:nth-child(odd), #userTable td:nth-child(odd){
    background-color: #7aa5d2;
} */

#filter{
	border:2px solid black;	
}

#filter > input{
    margin:10px;
    width:110px;
    height: 20px;
}
#filter > select{
    font-size:14px;
    margin:10px;
    height: 34px;
}

#filter button{
    all:unset;
    width:60px;
    height:34px;
    background-color: #7aa5d2;
    text-align: center;
    float:right;
    margin:10px;
    cursor: pointer;
}
#filter > span > input{
    width:90px;
    height:20px;
}