@charset "UTF-8";

header{
  margin: 20px;
  padding: 20px;
}

header > div > span#title{
  float: left;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -webkit-transform: rotate(-30deg);
  font-size: 25px;
  color: #5eb771;
}

header > div > span#todo{
  float: right;
  background-color: #4cbce6;
  color : white;
  box-sizing: border-box;
  margin: 20px;
  padding: 15px;
  cursor: pointer;
}

section{
  clear: both;
  text-align: center;
}


#li_todo,#li_doing,#li_done{
  position: relative;
  display: inline-block;
  width:350px;
  height: 50px;
  text-align: left;
  background-color: #5eb771;
  color: white;
  font-size: 25px;
  padding: 10px;
  line-height: 40px;
}

#li_todo ul,#li_doing ul,#li_done ul{
  position: absolute;
  top:80px;
  left:0px;
  padding: 0px;
}

#todo_ul li,#doing_ul li,#done_ul li{
  background-color: lightblue;
  list-style: none;
  width:350px;
  height: 100px;
  text-align: left;
  font-size: 25px;
  padding: 10px;
  margin-bottom: 10px;
  color : black;
}

#todo_ul li p,#doing_ul li p,#done_ul li p{
  line-height: 0px;
  padding: 5px;
}

#todo_ul li span,#doing_ul li span,#done_ul li span{
  font-size: 15px;
  line-height: 0px;
  padding: 5px;
}

#todo_ul li span input,#doing_ul li span input,#done_ul li span input{
  display: inline;
  margin-left: 20px;
}
