@charset "UTF-8";

body{
  text-align: center;
}

section{
  position: relative;
}

section ul{
  list-style: none;
  position: absolute;
  top:0px;
  left: 480px;
}

#li_1,#li_2,#li_3,#li_4{
  text-align: left;
}

#li_1 p,#li_2 p{
  margin-bottom: 10px;
}

#li_4{
}

#before{
  border:1px solid;
  text-align: center;
  line-height: 30px;
  width: 90px;
  height: 40px;
  display: inline-block;
  cursor:pointer;
}

#submit{
  margin-left: 320px;
  width: 90px;
  height: 40px;
  color:white;
  background-color: #26a2e4;
  border: none;
}

#reset{
  margin-left: 10px;
  width: 90px;
  height: 40px;
  color:white;
  background-color: #26a2e4;
  border: none;
}
